name: deploy to eb
on: workflow_dispatch
jobs:
  
  t1:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ${{ 'equals' == 'equals' && 'e' || 'no' }}
          echo ${{ 'equals' == 'not equals' && 'e' || 'no' }}
          echo ${{ 'equals' == 'not equals' && 'e1'
            || 'equals' == 'not equals' && 'e2'
            || 'equals' == 'not equals' && 'e3'
            || 'no3'}}
  suc1:
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
  suc2:
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
  fail1:
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
  fail2:
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
  comb1:
    runs-on: ubuntu-latest
    needs: [suc1, suc2]
    if: ${{ success() }}
    steps:
      - run: exit 0
  comb2:
    runs-on: ubuntu-latest
    needs: [suc1, fail1]
    if: ${{ success() }}
    steps:
      - run: exit 0
  comb3:
    runs-on: ubuntu-latest
    needs: [fail1, fail2]
    if: ${{ success() }}
    steps:
      - run: exit 0
  comb4:
    runs-on: ubuntu-latest
    needs: [suc1, suc2]
    if: ${{ failure() }}
    steps:
      - run: exit 0
  comb5:
    runs-on: ubuntu-latest
    needs: [suc1, fail1]
    if: ${{ failure() }}
    steps:
      - run: exit 0
  comb6:
    runs-on: ubuntu-latest
    needs: [fail1, fail2]
    if: ${{ failure() }}
    steps:
      - run: exit 0
  ls:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ls -Alh